.CodeMirror {
    height: 400px;
    border: 1px solid #ddd;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;
}

.CodeMirror-focused {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

.wp-sysmaster-code-editor .CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap;
}

.wp-sysmaster-code-editor .CodeMirror-linenumber {
    color: #666;
    padding: 0 5px;
}

.wp-sysmaster-code-editor .CodeMirror-selected {
    background: #d7d4f0;
}

.wp-sysmaster-code-editor .CodeMirror-matchingbracket {
    color: #0073aa !important;
    font-weight: bold;
}

.wp-sysmaster-code-editor .cm-matchhighlight {
    background-color: #e4e4e4;
}

.wp-sysmaster-code-editor .CodeMirror-foldmarker {
    color: #0073aa;
    text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}

/* Theme customizations */
.wp-sysmaster-code-editor .cm-s-default .cm-keyword {color: #07a;}
.wp-sysmaster-code-editor .cm-s-default .cm-atom {color: #219;}
.wp-sysmaster-code-editor .cm-s-default .cm-number {color: #164;}
.wp-sysmaster-code-editor .cm-s-default .cm-def {color: #00f;}
.wp-sysmaster-code-editor .cm-s-default .cm-variable {color: black;}
.wp-sysmaster-code-editor .cm-s-default .cm-variable-2 {color: #05a;}
.wp-sysmaster-code-editor .cm-s-default .cm-variable-3 {color: #085;}
.wp-sysmaster-code-editor .cm-s-default .cm-property {color: black;}
.wp-sysmaster-code-editor .cm-s-default .cm-operator {color: black;}
.wp-sysmaster-code-editor .cm-s-default .cm-comment {color: #a50;}
.wp-sysmaster-code-editor .cm-s-default .cm-string {color: #a11;}
.wp-sysmaster-code-editor .cm-s-default .cm-string-2 {color: #f50;}
.wp-sysmaster-code-editor .cm-s-default .cm-meta {color: #555;}
.wp-sysmaster-code-editor .cm-s-default .cm-qualifier {color: #555;}
.wp-sysmaster-code-editor .cm-s-default .cm-builtin {color: #30a;}
.wp-sysmaster-code-editor .cm-s-default .cm-bracket {color: #997;}
.wp-sysmaster-code-editor .cm-s-default .cm-tag {color: #170;}
.wp-sysmaster-code-editor .cm-s-default .cm-attribute {color: #00c;}
.wp-sysmaster-code-editor .cm-s-default .cm-header {color: blue;}
.wp-sysmaster-code-editor .cm-s-default .cm-quote {color: #090;}
.wp-sysmaster-code-editor .cm-s-default .cm-hr {color: #999;}
.wp-sysmaster-code-editor .cm-s-default .cm-link {color: #00c;} 