.tategaki {
	writing-mode: vertical-rl;
	line-height: 50px !important;
	margin: 0 auto !important;
}

@font-face {
	font-family: HentaiKana;
	src: url('./../fonts/UniHentaiKana/UniHentaiKana-Regular.woff') format('woff');
}

.is-hentaigana {
	font-family: serif, HentaiKana;
}