.bmc-btn-container {
	text-align: center;
	margin-top: 35px;
    margin-bottom:15px;
}

.tategaki {
	writing-mode: vertical-rl;
	line-height: 50px !important;
	margin: 0 auto !important;
}

.tategaki ruby {
    letter-spacing: 12px;
}

.tategaki ruby rt {
    letter-spacing: 0px !important;
    /*writing-mode: horizontal-tb;*/
}

ruby rt:hover {
	font-size: 25px;
}

@font-face {
	font-family:HentaiKana ;
	src: url('./../fonts/UniHentaiKana/UniHentaiKana-Regular.woff') format('woff') ;
}

.is-hetaigana {
	font-family: serif,HentaiKana;
}